@font-face {
  font-family: Bodoni;
  src: url(BauerBodoniStd-Roman.otf);
}

@font-face {
  font-family: URWImperial;
  src: url(URW-Imperial.ttf);
}

html {
  background-color: white;
}

body {
  align-items: center;
  background-color: white;
  //display: flex;
  flex-direction: column;
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  text-align: center;
}

div {
  /* box-sizing: border-box; */
}

h2 {
  font-family: Bodoni, serif;
  font-size: 3em;
  font-weight: 100;
  margin-bottom: 0;
}

h3 {
  font-family: URWImperial, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0.1em 0;
}

h4 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  letter-spacing: 0.1em;
  font-size: 1.5em;
  margin: 0.2em 0 1em;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-container {
  margin: 1em 1em 5em;
  background-color: #ddd;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 3em 0;
}

.header-container h1 {
  font-family: 'Helvetica';
  font-weight: 100;
  letter-spacing: 1px;
}

header img {
  width: 250px;
}

button {
  background-color: #651E40;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: URWImperial, "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px;
  min-width: 64px;
  padding: 10px 26px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
  margin: 20px;
  max-width: 600px;
  padding: 10px;
}

p {
  padding: 10px;
}

.img-container {
  background-color: black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: black;
  font-weight: bold;
}

.flex-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 100%;
}

.banner-container {
  width: 100%;
  background-color: rgb(254, 180, 47);
  padding: 0.1em 0.5em;
  box-sizing: border-box;
}

.navigation-wrapper {
  width: 100%;
  background: black;
}

.navigation {
  /* height: 100px; */
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
}

.navigation-tabs {
  display: flex;
  flex-basis: 73.5%;
  flex: unset;
  align-items: flex-end;
  margin-right: 2em;
  width: 73.5%;
}

.tab {
  flex-basis: 20%;
  max-width: 82.90px;
  background: #e6e6e6;
  height: 55px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab.active {
  max-width: 226px;
  height: 65px;
  background: white;
  box-shadow: 0 -10px 10px rgba(0,0,0,0.5);
}

.navigation-tabs img {
  width: 90%;
  max-width: 150px;
}

.navigation-links {
  flex-basis: 26.5%;
  flex: unset;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /* width: 26.5%; */
}

.navigation-links ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.navigation-links li {
  width: 70px;
  /* height: 70px; */
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 100;
}

.navigation-links .deals-x {
  background: #b50000;
  border-radius: 40px;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.navigation-links .icon {
  height: 25px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  margin: 0.1em 0;
}

.icon.icg-search {
  background-image: url(../images/search-icon.png);
}

.icon.icg-catalog {
  background-image: url(../images/catalog-icon.png);
}

.icon.icg-card {
  background-image: url(../images/card-icon.png);
}

.icon.icg-account {
  background-image: url(../images/account-icon.png);
}

.icon.icg-bag {
  background-image: url(../images/bag-icon.png);
}

.links {
  width: 100%;
  border-bottom: 1px solid #eee;
  /* box-shadow: 0 0px 10px rgba(0,0,0,0.5); */
}

.links li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 0.7em;
  font-weight: 600;
  font-size: 0.9em;
}

.links li a {
  text-decoration: none;
}

.carousel {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.carousel-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel-card h3 {
  font-family: URWImperial, sans-serif;
  font-weight: 100;
  font-size: 0.95em;
  width: 100%;
  margin-bottom: 0.2em;
  margin-top: 1em;
  letter-spacing: 1px;
}

.carousel-card h4 {
  font-size: 0.8em;
}

footer {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 2em 0;
  padding: 3em 0;
}

footer p {
  color: #666;
  font-family: URWImperial, sans-serif;
  margin: 0.2em 0;
}

.footer-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-main {
  display: flex;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

aside {
  width: 250px;
  flex-shrink: 0;
}

aside ul {
  padding: 0;
  margin: 0;
}

aside ul li {
  text-align: left;
  padding: 1em;
  font-family: URWImperial;
  text-transform: uppercase;
  font-size: 0.9em;
}

.clothing {
  display: flex;
  flex-wrap: wrap;
}

.clothing > div {
  flex-basis: 25%;
}

code {
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.cart {
  width: 800px;
  text-align: left;
  padding: 2em;
}

.cart > h3 {
  padding-left: 0.9em;
}

.cart table {
  width: 100%;
}

.cart td {
  padding: 1em;
  min-width: 100px;
  border-bottom: 1px solid #ddd;
}

.cart th {
  font-family: URWImperial, sans-serif;
  padding: 1em;
  border-bottom: 1px solid #ddd;
}

.cart-item {
  display: flex;
  text-align: left;
}

.cart-item img {
  width: 100px;
  margin: 0 1em 0 0;
}

.cart-item p {
  font-size: 11px;
  padding: 0;
}

.cart-item span {
  font-weight:600;
}

.checkout {
  padding: 2em;
  margin: 2em;
  text-align: left;
  box-shadow: -2px 6px 30px 8px #efefef;
  width: 300px;
}

.checkout h2 {
  font-size: 1.2em;
  font-family: 'Helvetica';
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 0.3em 0;
}

.checkout p {
  padding: 0;
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 0.3em 0;
}

.checkout button {
  width: 100%;
  margin: 0.1em 0;
  background: black;
  padding: 15px;
}

@media only screen and (max-width: 800px) {
  .navigation {
    flex-direction: column-reverse;
  }

  .navigation-tabs {
    flex-basis: 100%;
    width: 100%;
  }

  .navigation-tabs a {
    width: 100%;
  }

  .tab.active {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    height: auto;
    padding: 1em 0;
  }

  .tab.active img {
    max-width: 200px;
  }

  .navigation-links {
    flex-basis: 100%;
    justify-content: center;
  }

  .navigation-links ul, .links ul {
    padding: 0;
  }

  .sidebar {
    display: none;
  }

  .clothing > div {
    flex-basis: 50%;
  }

  .cart {
    width: 100%;
  }
  
  .product-main {
    flex-wrap: wrap;
  }
  .checkout {
    width: 100%;
  }
}
